<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>一覧表示</title>
</head>
<body>
<p>
    <a href="/form">問い合わせを追加</a>
</p>
<table border="1">
    <thead>
        <tr>
            <th>名前</th>
            <th>メールアドレス</th>
            <th>年齢</th>
            <th>性別</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="inquiry : ${inquiries}" th:object="${inquiry}">
            <td th:text="*{name}">名前</td>
            <td th:text="*{mail}">メールアドレス</td>
            <td th:text="*{age}">年齢</td>
            <td th:text="*{gender}">性別</td>
            <td><a th:href="@{|$/inquiry/*{id}|}">詳細</a></td>
       </tr> 
    </tbody>
</table>
</body>
</html>